// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary   : #1976d2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #2E3440;;
$dark-page : #2E3440;;

$positive  : #A3BE8C;
$negative  : #BF616A;
$info      :  #EBCB8B;
$warning   : #D08770;;
